<header>
  <nav class="navbar navbar-expand-lg navbar-dark pt-3 pb-3 bg_styles">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AI-Planning</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">My account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Administration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">All planning</a>
          </li>
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-5 mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Disconnect</a>
            </li>

          </ul>
        </form>
      </div>
    </div>
  </nav>
</header>
<div class="container mt-5 mb-5">
  <div class="text-center" style="margin-top: 200px">
    <h1>Generate Planning </h1>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-lg bg_styles"> Auto </button>
    <button type="button" class="btn btn-lg bg_styles"> Manuel </button>
  </div>
</div>


