<div class="m-5 row">
  <h1 class="mt-5">Manuel</h1>
  <app-constraints></app-constraints>
  <div class="float-end" style="direction: rtl">
    <app-pdf-export></app-pdf-export>
    <button
      type="button"
      class="btn-lg btn-primary me-5"
      (click)="exportToICS()"
    >
      Export: ICS
    </button>
  </div>
</div>
<br />
<div class="row">
  <div class="col-2">
    <div id="external-events" class="mt-5 me-5 ms-5">
      <div class="card">
        <div class="card-body text-center">
          <div
            class="card-creneau fc-event fc-h-event mb-3 bg-primary text-white border border-info"
          >
            <div class="fc-event-main">
              <h1>Créneau</h1>
            </div>
          </div>

          <small class="text-muted mt-5"
            >Veuillez glisser le créneau sur l'emploi du temps</small
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-9">
    <full-calendar #calendar [options]="options" id="calendar"></full-calendar>
  </div>

  <div
    class="modal fade"
    id="modalManuel"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalManuelLabel">
            <b>Ajouter un créneau</b>
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form [formGroup]="formGroupModel">
          <div class="modal-body">
            <label for="departments"> Département </label>
            <select
              formControlName="department"
              (click)="departmentsChangeHandler($event.target.value)"
              id="department"
              class="form-select mt-3 mb-3"
            >
              <option [value]="">Choisir un département</option>
              <option
                *ngFor="let department of departments"
                [value]="department.id"
              >
                {{ department.name }}
              </option>
            </select>
            <label for="cursus"> Cursus </label>
            <select
              formControlName="degree"
              (change)="degreeChangeHandler($event.target.value)"
              id="degree"
              class="form-select mt-3 mb-3"
            >
              <option [value]="">Choisir un cursus</option>
              <option *ngFor="let degree of degrees" [value]="degree.id">
                {{ degree.name }}
              </option>
            </select>
            <label for="session-name"> Matiere </label>
            <select
              formControlName="course"
              (change)="courseChangeHandler($event.target.value)"
              id="class"
              class="form-select mt-3 mb-3"
            >
              <option [value]="">Choisir la classe concernée</option>
              <option [value]="course.name" *ngFor="let course of courses">
                {{ course.name }}
              </option>
            </select>
            <label for="salle">Salle / Amphi </label>
            <select
              formControlName="room"
              (change)="roomChangeHandler($event.target.value)"
              id="room"
              class="form-select mt-3 mb-3"
            >
              <option [value]="">Choisir la salle ou l'amphi</option>
              <option [value]="room.name" *ngFor="let room of roomsList">
                {{ room.name }}
              </option>
            </select>
            <label for="prof">Professeur</label>
            <select
              formControlName="teacher"
              (change)="teacherChangeHandler($event.target.value)"
              id="professor"
              class="form-select mt-3 mb-3"
            >
              <option [value]="">Choisir le professeur</option>
              <option
                [value]="professor.firstName + ' ' + professor.lastName"
                *ngFor="let professor of professors"
              >
                {{ professor.firstName }} {{ professor.lastName }}
              </option>
            </select>
            <!-- <label for="color-session">Couleur créneau</label>
                        <input type="color" class="form-control mt-3 mb-3" id="color-session"> -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              (click)="deleteEvent(formGroupModel.controls['idEvent'].value)"
            >
              Supprimer cet evenement
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="saveEvent(formGroupModel.controls['idEvent'].value)"
            >
              Enregistrer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
