<h1>Manuel</h1>
<div class="row">
  <div class="col-2">
<div id='external-events' class="mt-5 me-5 ms-5">
  <div class="card">
    <div class="card-body text-center">
      <div class='fc-event fc-h-event mb-3 bg-danger border border-info'>
        <div class='fc-event-main'><h1>Cours</h1></div>
      </div>
      <div class='fc-event fc-h-event mb-3 bg-warning border-info'>
        <div class='fc-event-main'><h1>TP</h1></div>
      </div>
      <div class='fc-event fc-h-event mb-3 border border-info'>
        <div class='fc-event-main'><h1>TD</h1></div>
      </div>
      <small class="text-muted mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
    </div>
  </div>
</div>
  </div>
  <div class="col-9">
    <full-calendar [options]="options"></full-calendar>
  </div>
  <div class="modal fade" id="modalManuel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalManuelLabel"> <b>Ajouter un créneau</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="post">
        <div class="modal-body">
          <label for="cursus">
            Degree
          </label>
          <form [formGroup]="degreeForm">
            <select formControlName="degreeControl" (change)="degreeChangeHandler" id="degree" class="form-select mt-3 mb-3 ">
              <option [value]="">Choose a degree</option>
              <option [value]="degree" *ngFor="let degree of degrees">{{degree.name}}</option>
            </select>
          </form>
            <label for="session-name">
              Classe
            </label>
          <form [formGroup]="classForm">
            <select formControlName="classControl" id="class" class="form-select mt-3 mb-3 ">
              <option [value]="">Choisir la classe concernée</option>
              <option [value]="class" *ngFor="let class of classes">{{class.name}}</option>
            </select>
          </form>
          <label for="salle">Salle / Amphi </label>
          <form [formGroup]="roomsForm">
            <select formControlName="roomControl" id="room" class="form-select mt-3 mb-3 ">
              <option [value]="">Choisir la salle ou l'amphi</option>
              <option [value]="room" *ngFor="let room of roomsList">{{room.number}}</option>
            </select>
          </form>
          <label for="prof">Professeur</label>
          <form [formGroup]="teacherForm">
            <select formControlName="teacherControl" id="teacher" class="form-select mt-3 mb-3 ">
              <option [value]="">Choisir le professeur</option>
              <option [value]="teacher" *ngFor="let teacher of teachers">{{teacher.firstName}} {{teacher.lastName}}</option>
            </select>
          </form>
          <label for="color-session">Couleur créneau</label>
          <input type="color" class="form-control mt-3 mb-3" id="color-session">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
