.text-tip {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.875rem;
}

.my-card {
  background-color: #f0ede6;
}

.export-button {
  background-color: #03adfc;
  font-family: 'Work Sans', sans-serif;
}

.my-class-card {
  background-color: #0b2e13;
}

.class-type {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.2rem;
  margin-left: 0.875rem;
  margin-right: 0.875rem;
}

.tp-type {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.45rem;
  margin-left: 0.875rem;
  margin-right: 0.875rem;
}

.td-type {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.45rem;
  margin-left: 0.875rem;
  margin-right: 0.875rem;
}

.title {
  font-family: 'Work Sans', sans-serif;
}
