
.txt {
  font-family: "Work Sans", sans-serif;
}

.card-creneau {
  cursor: pointer;
}

.planning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption-container {
  width: 100%;
  margin: 2rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.caption {
  width: fit-content;
}

.calendar-container {
  margin-bottom: 3rem;
}

.new-edt-wrapper{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  .new-edt-btn{
    margin-right: 2rem;
  }
  .new-edt-spinner{

  }
}
