<form action="">
    <div class="form-group">
        <label for="timing_constraints" class="mb-3 control-label"> Contraintes de temps </label>
        <div class="row">
            <input name="timing_constraints" id="timing_constraints" type="file" (change)="onFileSelectedTimeAndRoom($event)" placeholder="" class="form-control">
            <button class="btn btn-lg text-white" (click)="sendFileSelectedTimeAndRoom()">Valider</button>
            <p>{{errorMessageTimeAndRoom}}</p>
        </div>
    </div>

    <div class="form-group">
        <label for="ordering_constraints" class="mb-3 mt-5 control-label">Contraintes d'ordre</label>
        <div class="row">
            <input name="ordering_constraints" id="ordering_constraints" type="file" (change)="onFileSelectedPrecedence($event)" class="form-control">
            <button class="btn btn-lg text-white" (click)="sendFileSelectedPrecedence()">Valider</button>
            <p>{{errorMessagePrecedence}}</p>
        </div>
    </div>
</form>