<form action="">
  <div class="form-group">
    <label for="file" class="mb-3 control-label">
      <h5 class="txt">Contraintes de précédences</h5>
    </label>
    <div class="row">
      <div class="attach-file-container">
        <input
          name="ordering_constraints"
          id="ordering_constraints"
          type="file"
          class="inputfile"
          data-multiple-caption="{count} files selected"
          (change)="onFileSelectedPrecedence($event)"
          multiple
        />
        <label
          for="ordering_constraints"
          class="attach-file-label"
          id="ordering_button"
        ><fa-icon [icon]="faFileArrowUp"></fa-icon> Sélectionner un
          fichier</label
        >
      </div>
      <div class="valider-button-container">
        <button
          class="valider btn btn-lg text-white txt"
          (click)="sendFileSelectedPrecedence()">
          Valider
        </button>
      </div>
      <p>{{ errorMessagePrecedence }}</p>
    </div>
  </div>
  <div>
    <label id="example-radio-group-label" class="txt">Ajouter des contraintes de temps:</label
    >
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="constraintsMode"
      name="constraintsMode"
    >
      <mat-radio-button
        class="example-radio-button txt"
        *ngFor="let mode of constraintsModes"
        [value]="mode"
      >
        {{ mode }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="form-group" *ngIf="constraintsMode === Modes.CSV">
    <label for="file" class="mb-3 control-label">
      <h5 class="txt">Contraintes de temps</h5></label
    >
    <div class="row">
      <div class="attach-file-container">
        <input
          type="file"
          name="file"
          id="file"
          class="inputfile"
          data-multiple-caption="{count} files selected"
          multiple
          (change)="onFileSelectedTimeAndRoom($event)"
        />
        <label
          for="file"
          class="attach-file-label"
          id="time-and-room-button"
        ><fa-icon [icon]="faFileArrowUp"></fa-icon> Sélectionner un
          fichier</label>
      </div>
      <div class="valider-button-container">
        <button
          class="valider btn btn-primary btn-lg text-white"
          (click)="sendFileSelectedTimeAndRoom()">
          Valider
        </button>
      </div>
      <p>{{ errorMessageTimeAndRoom }}</p>
    </div>
  </div>
  <alert type="success"
         [dismissible]="dismissible"
         [isOpen]="isOpen"
         [dismissOnTimeout]="timeout">
    <p>Le fichier a été téléversé avec succès</p>
  </alert>
  <alert type="danger"
         [dismissible]="dismissible"
         [isOpen]="isOpenError"
         [dismissOnTimeout]="timeoutError">
    <p>Une erreur est survenue pendant le traitement du fichier. Veuillez réessayer</p>
  </alert>

  <app-form-constraint-time
    (onValidate)="onAddConstraintTimeRoom.emit([$event])"
    *ngIf="constraintsMode === Modes.FORM"
  ></app-form-constraint-time>
</form>
