<form action="">
    <div class="form-group">
        <div class="row">
          <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple (change)="onFileSelectedTimeAndRoom($event)"/>
          <label for="file"><fa-icon [icon]="faFileArrowUp"></fa-icon> Sélectionner un fichier</label>
          <button class="valider btn btn-primary btn-lg text-white" (click)="sendFileSelectedTimeAndRoom()">Valider</button>
          <p>{{errorMessageTimeAndRoom}}</p>
        </div>
    </div>

    <div class="form-group">
        <label for="ordering_constraints" class="txt mb-3 mt-5 control-label">Contraintes d'ordre</label>
        <div class="row">
            <input name="ordering_constraints" id="ordering_constraints" type="file" (change)="onFileSelectedPrecedence($event)" class="form-control">
            <div><button class="valider btn btn-lg text-white" (click)="sendFileSelectedPrecedence()">Valider</button></div>
            <p>{{errorMessagePrecedence}}</p>
        </div>
    </div>

</form>
