<div class="container mt-5">
  <button (click)="addRoom()" type="button" class="btn btn-sm btn-info float-right">Ajouter une salle</button>

  <h1>Toutes les salles</h1>
  <div *ngIf="rooms" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <table datatable class="table table-striped">
      <thead>
      <th>Id</th>
      <th>Nom</th>
      <th>Capacite</th>
      <th>Departement_id</th>
    
      </thead>
      <tbody>
      <ng-container *ngFor="let room of rooms">
        <tr>
          <td>{{room.id}}</td>
          <td>{{room.name}}</td>
          <td>{{room.capacity}}</td>
          <td>{{room.department}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-warning me-3" (click)="editRoom(room)">Modifier</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="deleteRoom(room)">Supprimer</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

      