<div class="container">
  <div class="mt-5">
    <h2> Les Salles </h2>
    <hr>
  </div>
  <div class="float-end">
    <div class="btn btn-success">Ajouter</div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Capacité</th>
      <th>Type</th>
      <th>Département</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let dep of all_departments;">
      <tr *ngFor="let room of dep.rooms">
        <td>{{room.name}}</td>
        <td>{{room.capacity}}</td>
        <td>{{room.roomTypes}}</td>
        <td>{{dep.name}}</td>
        <td>
          <button class="btn btn-warning me-3" (click)="editRoom(room)">Editer</button>
          <button class="btn btn-danger" (click)="deleteRoom(room) "> Supprimer</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <div class="modal fade" id="modal--group" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id=""><b>Salle</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 row" id="div_groupe_name">
            <label for="groupe_name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
              <input [value]="" class="form-control" formControlName="groupe_name" type="text"
                     placeholder="" required id="groupe_name">
            </div>
          </div>
        </div>
        <div class="modal-footer">

        </div>

      </div>

    </div>
  </div>
</div>
