
<header>
  <nav class="navbar navbar-expand-lg navbar-dark pt-3 pb-3 bg_styles">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AI-Planning</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">My account</a>
          </li>
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-5 mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Disconnect</a>
            </li>

          </ul>
        </form>
      </div>
    </div>
  </nav>
</header>
<div class="container mt-5 mb-5">
  <h1 class="mt-5 mb-5">Lorem Title Ipsun </h1>

  <form action="" method="post">
    <div class="form-group">
      <label for="timing_constraints" class="mb-3 control-label"> Contraintes de temps </label>
      <input name="timing_constraints" id="timing_constraints" type="file" placeholder="" class="form-control">
    </div>

    <div class="form-group">
      <label for="ordering_constraints" class="mb-3 mt-5 control-label">Contraintes d'ordre</label>
      <input name="ordering_constraints" id="ordering_constraints" type="file" class="form-control">
    </div>
    <div class="text-center m-5">
      <button type="submit" class="btn btn-lg bg_styles text-white">Envoyer mes contraintes</button>
    </div>
  </form>
</div>
