<div class="container mt-5 mb-5">
    <h1 class="mt-5 mb-5">Lorem Title Ipsun </h1>

    <form action="" method="post">
        <div class="form-group">
            <label for="timing_constraints" class="mb-3 control-label"> Contraintes de temps </label>
            <input name="timing_constraints" id="timing_constraints" type="file" placeholder="" class="form-control">
        </div>

        <div class="form-group">
            <label for="ordering_constraints" class="mb-3 mt-5 control-label">Contraintes d'ordre</label>
            <input name="ordering_constraints" id="ordering_constraints" type="file" class="form-control">
        </div>
        <div class="text-center m-5">
            <button type="submit" class="btn btn-lg text-white" style="background-color: #8d448b">Envoyer mes contraintes</button>
        </div>
    </form>
</div>
