<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css">
<div class="m-5">
  <div class="">
    <button
      type="button"
      class="btn btn-primary"
      (click)="isCollapsedconstraints = !isCollapsedconstraints"
      [attr.aria-expanded]="!isCollapsedconstraints"
      aria-controls="collapseEvent"
    >
      Ajouter contraintes
    </button>
  </div>
  <hr />
  <div
    id="collapseEvent"
    [isAnimated]="true"
    [collapse]="isCollapsedconstraints"
  >
    <app-get-file-constraints
      (onAddConstraintPrecedence)="updatePrecedenceConstraints($event)"
      (onAddConstraintTimeRoom)="updateTimeAndRoomsConstraints($event)"
      class="m-5"
    ></app-get-file-constraints>
  </div>

  <div class="">
    <button
      type="button"
      class="btn btn-primary"
      (click)="isCollapsedArray = !isCollapsedArray"
      [attr.aria-expanded]="!isCollapsedArray"
      aria-controls="collapseEventArray"
    >
      Afficher les contraintes actives
    </button>
  </div>
  <hr />
  <div
    id="collapseEventArray"
    [isAnimated]="true"
    [collapse]="isCollapsedArray"
  >
    <tableau-contraintes
      [constraintsTimeRoom]="timeAndRoomConstraints"
      [constraintPrecedence]="precedenceConstraints"
      class="m-5"
    ></tableau-contraintes>
  </div>

  <div class="col-md-6">
    <form action="">
      <input
        type="text"
        class="form-control"
        placeholder="Nom de l'EDT"
        id="planning-name"
      />
    </form>
  </div>


</div>
