.constraints-button {
  background-color: #037bfc !important;
}

.buttons {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.buttons button {
  width: 50%;
  font-family: 'Work Sans', sans-serif;
}

.placeholder-text {
  font-family: 'Work Sans', sans-serif;
}
