<div class="container mt-5">
  <h1>Tous les utilisateurs</h1>
  <div *ngIf="users" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <table datatable class="table table-striped">
      <thead>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Est admin ?</th>
      <th>Action</th>
      </thead>
      <tbody>
      <ng-container *ngFor="let user of users">
        <tr>
          <td>{{user.customer.name}}</td>
          <td>{{user.customer.firstName}}</td>
          <td>{{user.customer.email}}</td>
          <td>{{user.customer.isAdmin}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-warning me-3" (click)="editUser(user)" >Modifier</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="deleteUser(user)" >Supprimer</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModal"> <b>Modifier un utilisateur</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form [formGroup]="formGroupModal">
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
              <input [value]="" class="form-control" formControlName="name" type="text"
                     placeholder="user name" required id="username">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="firstname" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
              <input [value]="" class="form-control" formControlName="firstname" type="text"
                     placeholder="user firstname" required id="firstname">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input [value]="" class="form-control" formControlName="email" type="email"
                     placeholder="user email" required id="email">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateUser()">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
