<div id="div-tableau-contraintes">
    <table class="table table-hover">
        <col>
        <colgroup span="3"></colgroup>
        <thead class="thead-dark">
            <tr>
                <th rowspan="2" colspan="1">Active</th>
                <th colspan="2">Selector</th>
                <th scope="col" rowspan="2">Choix</th>
                <th scope="colgroup" colspan="2">Date</th>
                <th scope="col" rowspan="2">Salle</th>
                <th scope="col" rowspan="2">Priorité</th>
            </tr>
            <tr>
                <th scope="col">Clé</th>
                <th scope="col">Valeur</th>
                <th scope="col">Jour</th>
                <th scope="col">Temps</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let constraint of constraintsTimeRoom; index as i">
                <td><button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button></td>
                <td>{{constraint.selector.selectorUnits[i].attribute}}</td>
                <td>{{constraint.selector.selectorUnits[i].value}}</td>
                <td>{{constraint.veut ? "veut" : "ne veut pas"}}</td>
                <td>{{constraint.day}}</td>
                <td>{{constraint.hourBegin}} - {{constraint.hourEnd}}</td>
                <td><ng-container *ngFor="let room of constraint.room.selectorUnits; index as r">{{(r === constraint.room.selectorUnits.length - 1) ? room.value : room.value + ", "}}</ng-container></td>
                <td>{{constraint.priority}}</td>
            </tr>
        </tbody>
    </table>

</div>