<div class="container">
  <h1 class="txt">Formulaire de contraintes de temps</h1>

  <form #timeForm="ngForm" name="timeForm" [formGroup]="timeFormGroup">
    <div class="form-group">
      <label for="selector">Sélecteur</label>
      <select
        class="form-control"
        id="selector"
        required
        name="selector"
      >
        <option *ngFor="let selector of selectors" [value]="selector.value">{{ selector.label }}</option>
      </select>
      <select
              class="form-control"
              *ngIf="timeConstraintForm.selector == 'teacher'"
              formControlName="teacher"
              id="professor"
              required
      >
        <option [value]="professor.id" *ngFor="let professor of professors">{{ professor.firstName }} {{ professor.lastName }}</option>
      </select>
      <select
              class="form-control"
              *ngIf="timeConstraintForm.selector == 'lesson'"
              formControlName="lesson"
              id="lesson"
              required
      >
        <option [value]="course.id" *ngFor="let course of courses">{{ course.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="want">Volonté</label>
      <select
        class="form-control txt"
        id="want"
        formControlName="want"
        required
        name="want"
      >
        <option *ngFor="let want of wants" [value]="want">{{ want }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="day">Jour</label>
      <select
        class="form-control"
        id="day"
        formControlName="day"
        required
        name="day"
      >
        <option *ngFor="let day of days" [value]="day">{{ day }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="startTime">Début du créneau</label>
      <input
        type="time"
        class="form-control"
        id="startTime"
        formControlName="startTime"
        required
        name="startTime"
      />
    </div>

    <div class="form-group">
      <label for="endTime">Fin du créneau</label>
      <input
        type="time"
        class="form-control"
        id="endTime"
        formControlName="endTime"
        required
        name="endTime"
      />
    </div>

    <div class="form-group">
      <label for="room">Salle</label>
      <select
        type="text"
        formControlName="room"
        class="form-control"
        id="room"
        required
        name="room"
      >
        <option *ngFor="let room of rooms" [value]="room.id">{{ room.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="priority">Priorité</label>
      <input
        type="number"
        max="100"
        min="1"
        value="50"
        class="form-control"
        id="priority"
        required
        formControlName="priority"
        name="priority"
      />
    </div>
    <div class="form-group form-submit-container">
      <button type="submit" (click)="onSubmit()"  class="btn btn-primary rounded submit p-3 px-5 txt">
        Valider
      </button>
    </div>
  </form>
</div>
